 @page
@model RegisterModel
<h1>@ViewData["Title"]</h1>

<div class="container mt-5 my-5">
    <h3 class="text-center py-4">User Registration</h3>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
       <div class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <!-- Left Column -->

            <div class="col-md-6 col-sm-12">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="fullname" />
                    <label asp-for="Input.FullName">FullName</label>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>


                


            </div>


            <!-- Right Column -->
            <div class="col-md-6 col-sm-12">

                <div class="form-floating mb-3">
                    <input asp-for="Input.MobileNumber" class="form-control" autocomplete="MobileNumber" aria-required="true" placeholder="MobileNumber" />
                    <label asp-for="Input.MobileNumber">MobileNumber</label>
                    <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
                </div>



                <div class="form-floating mb-3">
                    <input asp-for="Input.Address" class="form-control" autocomplete="Address" aria-required="true" placeholder="Address" />
                    <label asp-for="Input.Address">Address</label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ZipCode" class="form-control" autocomplete="ZipCode" aria-required="true" placeholder="ZipCode" />
                    <label asp-for="Input.ZipCode">ZipCode</label>
                    <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ProfilePicture" type="file" class="form-control autocomplete=" File" aria-required="true" placeholder="File" />
                    <label asp-for="Input.ProfilePicture">Profile Picture</label>
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                </div>
            </div>








       </div>

        <div>
            <button id="registerSubmit" type="submit" class=" btn btn-lg btn-success">Register</button>
            <span class="ms-2">Already registered? <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary badge rounded-pill">Login here.</a></span>
    </form>
        
</div>
 @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 




@* <div class="row">
    <div class="col-md-4">
        <h3 class="text-center py-4">User Registration</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="fullname" />
                <label asp-for="Input.FullName">FullName</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">
                <input asp-for="Input.MobileNumber" class="form-control" autocomplete="MobileNumber" aria-required="true" placeholder="MobileNumber" />
                <label asp-for="Input.MobileNumber">MobileNumber</label>
                <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" autocomplete="Address" aria-required="true" placeholder="Address" />
                <label asp-for="Input.Address">Address</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ZipCode" class="form-control" autocomplete="ZipCode" aria-required="true" placeholder="ZipCode" />
                <label asp-for="Input.ZipCode">ZipCode</label>
                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ProfilePicture" type="file" class="form-control autocomplete=" File" aria-required="true" placeholder="File"    />
                <label asp-for="Input.ProfilePicture">Profile Picture</label>
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>


            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


@*   @page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body>
    <div class="container mt-5 my-5">
        <h3 class="text-center py-4">User Registration</h3>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <div class="row g-3">
                <!-- Left Column -->
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Enter Full Name" />
                        <label asp-for="Input.FullName">FullName</label>
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Enter Username" />
                        <label asp-for="Input.Username">Username</label>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Enter Email" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.MobileNumber" class="form-control" autocomplete="mobile" aria-required="true" placeholder="Enter Mobile Number" />
                        <label asp-for="Input.MobileNumber">Mobile Number</label>
                        <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" placeholder="Enter Address" />
                        <label asp-for="Input.Address">Address</label>
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.ZipCode" class="form-control" autocomplete="zip" aria-required="true" placeholder="Enter Post/Zip Code" />
                        <label asp-for="Input.ZipCode">Zip Code</label>
                        <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.ProfilePicture" type="file" class="form-control" aria-required="true" />
                        <label asp-for="Input.ProfilePicture">Profile Picture</label>
                        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter Password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Register</button>
                <span class="ms-2">Already registered? <a asp-controller="Home" asp-action="Login" class="btn btn-primary badge rounded-pill">Login here.</a></span>
            </div>
        </form>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@
